/* assets/css/styles.css */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "IBM Plex Sans", sans-serif;
  background: #e9e9e9;
  padding: 2rem;
}
p {
  text-align: start;
  color: #ffffff;
  padding-left: 1rem;
}
a {
  text-decoration: none;
}

/* 1. Navbar background */
.navbar-main {
  background-color: #016a9f; /* Dark Teal */
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

/* 2. Link colors */
.navbar-main .nav-link {
  color: #fcf6e9; /* Cream */
}

/* 3. Toggler color */
.navbar-main .navbar-toggler {
  border-color: #f9edd2;
}
.navbar-main .navbar-toggler-icon {
  filter: invert(1);
}

.navbar-main .input-group .form-control {
  background-color: #f2eadc; /* Off-White */
  border: 1px solid #b18d30; /* Mustard */
  color: #2c3b33; /* Dark Teal */
}
.navbar-main .input-group .form-control::placeholder {
  color: #2c3b33;
  opacity: 0.7;
}
/* btns */
.btn-main {
  background-color: #02314f;
  color: #ffffff;
  border: 1px solid #01243a;
  padding: 0.45rem 1.5rem 0.35rem;
  border-radius: 0.3rem;
  transition: background-color 0.2s;
}
.btn-main:hover {
  background-color: #023d62; /* Burnt Orange */
  color: #e2f1fa; /* Cream */
}
.card {
  background: #84e6ea;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

/* .header-div {
  display: flex;
  gap: 1rem;
}
.container {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  border: 1px black solid;
  margin-top: 2rem;
}


.card:hover {
  transform: translateY(-4px);
}

.img-card {
  width: 100%;
  height: 80%;
} */
